p{
  margin-top: 0px;
  margin-bottom: 0px;

}
img{
width: 45px;
height: 45px;
border-radius: 50%;
}
.div-01{
display: grid;
grid-template-columns: 55px 3fr 1fr;
margin-bottom: 100px;
}
.p-1{
font-size: 25px;
cursor: pointer;
}
.p-2{
font-size: 16px;
width: 800px;
cursor: pointer;
}
.p-3{
font-size: 45px;
width: 700px
}
.head{
display: grid;
grid-template-columns: 2fr 30px 30px 30px;
border: 5px;
border-color: blue;
margin-bottom: 10px;
cursor: pointer;
text-decoration: unset;
}
.t{
font-size: 12px;
width: 100px;
}
button{
background-color: rgb(78, 219, 78);
border: none;
margin-left: 800px;
margin-top: 50px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
transition: opacity,0.15s;
cursor: pointer;

}
button:hover{
opacity: 0.5;
}
.general{
display: grid;
grid-template-columns: 1fr;
border: none;
}
